<div class="backdrop" [@backdropAnimations]="visible" *ngIf="visible"></div>
<div class="msgcontainer" [@mainAnimations]="visible" *ngIf="visible">
	<div class="message-what">
		First Blood
		<div class="bigicon">
			<i class="fas fa-tint"></i>
		</div>
	</div>
	<div class="message-service"><small>on </small><strong>{{servicename}}</strong></div>
	<div class="message-team"><small>by </small><strong>{{teamname}}</strong></div>
</div>

<div class="pyrocontainer" [@pyroAnimations]="pyroBackdropVisible" *ngIf="pyroBackdropVisible">
	<div class="pyro" *ngIf="pyroVisible">
		<div class="before"></div>
		<div class="after"></div>
	</div>

	<div class="message-what">
		Game is over!
	</div>

	<div class="message-sub">
		<strong>Thanks for playing!</strong><br/>
	</div>
</div>
