<app-notification-overlay></app-notification-overlay>
<div class="flexible-container">
	<div class="bg-primary-theme">
		<div class="header-inner">
			<div class="container-fluid">
				<app-settings class="pull-right"></app-settings>
				<h1 class="page-header">
					<img src="/assets/img/logo_full.png" alt="Team Europe">
					<span>A/D Scoreboard</span>
					<app-current-tick class="pull-right"></app-current-tick>
				</h1>
				<a routerLink="/" routerLinkActive="hidden" [routerLinkActiveOptions]="{exact: true}" class="backlink"><i class="fas fa-chevron-left"></i> back to scoreboard</a>
			</div>
		</div>
	</div>
	<div class="container-fluid flexible-container"><router-outlet></router-outlet></div>
</div>
